/* background colors */
/* text colors */
.body-container {
  max-width: 1170px; }

.header-row {
  height: 180px; }

.header-main {
  height: 100%;
  color: #FFF;
  background-color: #93c54b; }

.header-sidebar {
  height: 100%; }

.main-content-row {
  height: 600px; }

.menu-panel-heading,
.panel-default > .menu-panel-heading {
  background-color: #29abe0;
  color: #FFF; }

.footer-container {
  background-color: #3e3f3a; }

.footer-row {
  height: 560px;
  max-width: 1170px;
  margin: 15px auto;
  color: #FFF; }

.registration-label {
  text-align: right;
  padding-top: 7px; }

.registration-form .row {
  padding-top: 10px; }

.registration-button {
  padding-right: 10px;
  padding-left: 10px; }

@media (max-width: 1200px) {
  .registration-label {
    text-align: left; } }
