/* background colors */
/* text colors */
/* height */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/skulls.png");
  font-weight: 300; }

.body-container {
  max-width: 1170px; }

.spacer {
  height: 35px; }

.header-row {
  min-height: 240px;
  -webkit-box-shadow: 0px 1px 9px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 9px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 1px 9px -1px rgba(0, 0, 0, 0.75); }

.main-content-row {
  min-height: 600px; }

.main-content-content {
  background-color: #ffffff;
  padding: 0px; }

.main-content-sidebar {
  padding: 0px 0px; }

.footer-row {
  min-height: 360px;
  max-width: 1170px;
  margin: 15px auto;
  color: #FFF; }

.custom-list-group, #authors {
  list-style: none;
  padding: 5px 5px 5px 0px; }

#authors li:before {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0 10px;
  content: "\e014"; }

.custom-list-group li span {
  padding-right: 10px; }

.registration-label {
  text-align: right;
  padding-top: 7px; }

.registration-form .row {
  padding-top: 10px; }

.registration-button {
  padding-right: 10px;
  padding-left: 10px; }

.login-sidebar {
  padding-top: 20px; }

.remember-me-checkbox {
  padding: 9px 0px 5px 0px; }

.remember-me-checkbox label {
  padding-left: 5px;
  font-weight: 500; }

.btn {
  font-size: 15px; }

.form-label {
  padding-top: 10px;
  padding-bottom: 5px; }

.book-image {
  height: 150px; }

.book-release-item {
  padding: 10px 0px; }

.book-release td {
  padding-right: 10px; }

.notification-text-hide {
  display: none; }

.book-item {
  list-style-type: none;
  padding-left: 0px;
  text-align: center;
  border: 1px solid #c8c8c8;
  padding-top: 10px; }

.book-item-title {
  font-size: 16px;
  padding: 8px 0px; }

.book-item-category {
  padding: 8px 0px; }

.book-item li a {
  text-decoration: none; }

.book-search-row {
  padding-bottom: 10px; }

#category label,
#type label {
  padding-left: 5px;
  padding-right: 8px; }

.notification {
  box-shadow: none; }

@media (max-width: 1200px) {
  .registration-label {
    text-align: left; } }
