/web/bundles/
/web/assets/sass
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/node_modules/
/bin/
/composer.phar
/.idea
/package.json
/Gulpfile.js