<div class="panel panel-default">
    <div class="panel-heading menu-panel-heading-1">Meniu</div>
    <div class="panel-body">
        <ul class="custom-list-group">
            <li>Atiduodamos knygos</li>
            <li>Norimos knygos</li>
            <li>Prašymai</li>
            <li>Aktyviausi vartotojai</li>
            <li>Atsiliepimai</li>
        </ul>
    </div>
</div>