<div class="panel panel-default">
    <div class="panel-heading menu-panel-heading-1">Mano Knygos</div>
    <div class="panel-body">
        <ul class="custom-list-group">
            <li><a href="{{ path('knygmainys_books_show_owned') }}">Turimos knygos</a></li>
            <li><a href="{{ path('knygmainys_books_show_wanted') }}">Norimos knygos</a></li>
            <li><a href="{{ path('knygmainys_books_show_contributed') }}">Atiduotos knygos</a></li>
            <li><a href="{{ path('knygmainys_books_show_received') }}">Gautos knygos</a></li>
        </ul>
    </div>
</div>