<div class="panel panel-default">
    <div class="panel-heading menu-panel-heading-1">Paieška</div>
    <div class="panel-body">
        <form action="search" method="post">
            <input class="form-control" type="text" id="_search" name="_search" placeholder="Paieška..." required="required" /><br/>
            <input class="btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit" value="Ieškoti" />
        </form>
    </div>
</div>