<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets  'assets/css/bootstrap.min.css'
                            'assets/css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    {% block body %}
        <div class="container-fluid body-container">
            {% block header %}
                <div class="row header-row">
                    <div class="col-lg-8 header-main">
                        {% block header_main %}
                            {% embed 'KnygmainysMainBundle:partials:header/main.html.twig' %}
                            {% endembed %}
                        {% endblock %}
                    </div>
                    <div class="col-lg-4 header-sidebar">
                        {% block header_sidebar %}
                            {% embed 'KnygmainysMainBundle:partials:header/sidebar.html.twig' %}
                            {% endembed %}
                        {% endblock %}
                    </div>
                </div>
            {% endblock header %}
            {% block main_content %}
                <div class="row main-content-row">
                    <div class="col-lg-8 main-content-content">
                        {% block content %}
                        {% endblock content %}
                    </div>
                    <div class="col-lg-4 main-content-sidebar">
                        {% block sidebar %}
                            <div class="panel panel-default">
                                <div class="panel-heading menu-panel-heading">Menu</div>
                                <div class="panel-body">
                                    Menu content
                                </div>
                            </div>
                        {% endblock sidebar %}
                    </div>
                </div>
            {% endblock main_content %}
        </div>
        <div class="container-fluid footer-container">
            {% block footer %}
                <div class="row footer-row">
                    <div class="col-lg-4 footer-col-first">
                        {% block footer_first %}
                            {% embed 'KnygmainysMainBundle:partials:footer/first.html.twig' %}
                            {% endembed %}
                        {% endblock footer_first %}
                    </div>
                    <div class="col-lg-4 footer-col-second">
                        {% block footer_second %}
                            {% embed 'KnygmainysMainBundle:partials:footer/second.html.twig' %}
                            {% endembed %}
                        {% endblock footer_second %}
                    </div>
                    <div class="col-lg-4 footer-col-third">
                        {% block footer_third %}
                            {% embed 'KnygmainysMainBundle:partials:footer/third.html.twig' %}
                            {% endembed %}
                        {% endblock footer_third %}
                    </div>
                </div>
            {% endblock footer %}
        </div>
    {% endblock body %}
    {% block javascripts %}
        {% javascripts  'assets/js/jquery-1.12.0.min.js'
                        'assets/js/*'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}
    </body>
</html>
