<div class="row header-main-logo">
    <h1>Knygmainys.lt</h1>
</div>
<div class="row header-main-menu">
    <ul class="menu-list">
        <li>Pradžia</li>
        <li>Knygos</li>
        <li>Profilis</li>
        <li>Apie</li>
    </ul>
</div>