<div class="row header-main-logo">
    <h1>Knygmainys.lt</h1>
</div>
<div class="row header-main-menu">
    <div class="col-lg-9">
        <ul class="menu-list">
            <li>Pradžia</li>
            <li>/</li>
            <li>Knygos</li>
            <li>/</li>
            <li>Profilis</li>
            <li>/</li>
            <li>Apie</li>
        </ul>
    </div>
    <div class="col-lg-3">
        <ul class="menu-list">
            <li>LT</li>
            <li>EN</li>
        </ul>
    </div>
</div>