<h4>Footer partial template!</h4>
<ul class="custom-list-group">
    <li><p><span class="glyphicon glyphicon-menu-right"></span>Tekstas</p></li>
    <li><p><span class="glyphicon glyphicon-menu-right"></span>Tekstas</p></li>
    <li><p><span class="glyphicon glyphicon-menu-right"></span>Tekstas</p></li>
    <li><p><span class="glyphicon glyphicon-menu-right"></span>Tekstas</p></li>
    <li><p><span class="glyphicon glyphicon-menu-right"></span>Tekstas</p></li>
    <li><p><span class="glyphicon glyphicon-menu-right"></span>Tekstas</p></li>
</ul>
