<h4>Footer partial template!</h4>
<ul class="custom-list-group">
    <li><p>Tekstas</p></li>
    <li><p>Tekstas</p></li>
    <li><p>Tekstas</p></li>
    <li><p>Tekstas</p></li>
    <li><p>Tekstas</p></li>
    <li><p>Tekstas</p></li>
    <li><p>Tekstas</p></li>
</ul>
