<h4>Kodėl verta naudotis Knygmainys.lt?</h4>
<ul class="custom-list-group">
    <li><p><span class="glyphicon glyphicon-menu-right"></span>Rask norimas knygas!</p></li>
    <li><p><span class="glyphicon glyphicon-menu-right"></span>Suteik kitiems džiaugsmo!</p></li>
    <li><p><span class="glyphicon glyphicon-menu-right"></span>Tavo knygos bus ir toliau skaitomos!</p></li>
    <li><p><span class="glyphicon glyphicon-menu-right"></span>Prisidėk prie skaitymo kultūros skatinimo!</p></li>
</ul>
