<h4>Prisijunk prie mūsų!</h4>
<ul class="custom-list-group">
    <li><p><span class="glyphicon glyphicon-menu-right"></span>Prisijunk prie mūsų bendruomenės!</p></li>
    <li><p><span class="glyphicon glyphicon-menu-right"></span>Neužmiršk pakviesti ir draugų!</p></li>
</ul>