<h4>Projektas:</h4>
<ul class="custom-list-group">
    <li><span class="glyphicon glyphicon-menu-right"></span>Autorius: Tomas Semaška</li>
    <li><span class="glyphicon glyphicon-menu-right"></span>Baigiamasis darbas</li>
    <li><span class="glyphicon glyphicon-menu-right"></span>Kauno technologijos universitetas</li>
    <li><span class="glyphicon glyphicon-menu-right"></span>2016</li>
</ul>